body{
    background-color: rgb(71, 130, 238);
    font: normal 15pt arial;
}
header{
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 2em;
    font-weight: bold; /*negrito*/
}
section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    height: 300px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.432);
}
#msg{
    text-align: center  ;
}

#imagem{
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    border-radius: 50%;
    height: 200px;
    width: 200px;

}

footer{
    color: white;
    text-align: center;
    font-style: italic;
    
}